In [1]:
import pandas as pd
df = pd.read_csv('ww2_dataset2.csv')

In [2]:
df.head()

,Country,Total pop 19391939,Militarydeaths,Civilian deaths,Totaldeaths,% of Population,Militarywounded
0,Australia,"6,968,000","39,700",700,40400,0.58,"39,803"
1,Belgium,"8,387,000","12,000","76,000",88000,1.05,"55,513"
2,Bulgaria,"6,458,000","18,500","3,000",21500,0.33,"21,878"
3,Canada,"11,267,000","42,000","1,600",43600,0.38,"53,174"
4,France,"41,680,000","210,000","390,000",600000,1.44,"390,000"

In [3]:
WW2 = df

In [4]:
print(WW2)

           Country Total pop 19391939 Militarydeaths Civilian deaths  \
0        Australia          6,968,000         39,700             700
1          Belgium          8,387,000         12,000          76,000
2         Bulgaria          6,458,000         18,500           3,000
3           Canada         11,267,000         42,000           1,600
4           France         41,680,000        210,000         390,000
5          Germany         69,300,000      5,318,000       3,000,000
6           Greece          7,222,000         35,100         171,800
7          Hungary          9,129,000        200,000         664,000
8            India        377,800,000         87,000             NaN
9            Italy         44,394,000        341,000         153,200
10           Japan         71,380,000      2,300,000         800,000
11    Newfoundland            320,000          1,100             100
12     New Zealand          1,629,000         11,700             NaN
13         Romania         15,970,000        300,000         200,000
14    South Africa         10,160,000         11,900             NaN
15    Soviet Union        188,793,000     11,400,000      10,000,000
16          Sweden          6,341,000            100           2,000
17     Switzerland          4,210,000            NaN             100
18        Thailand         15,023,000          5,600           2,000
19          Turkey         17,370,000            200             NaN
20  United Kingdom         47,760,000        383,700          67,200
21   United States        131,028,000        407,300          12,100

   Totaldeaths  % of Population Militarywounded
0        40400            0.580          39,803
1        88000            1.050          55,513
2        21500            0.330          21,878
3        43600            0.380          53,174
4       600000            1.440         390,000
5    7,400,000            1.000       7,300,000
6      507,000            9.095          47,290
7      864,000            7.270          89,313
8    3,087,000            0.580          64,354
9      492,400            1.135         320,000
10   3,100,000            3.920         326,000
11        1200            0.300             NaN
12       11700            0.720          19,314
13     500,000            3.130         332,769
14       11900            0.120          14,363
15  27,000,000            1.150             NaN
16        2100            0.030             NaN
17         100            0.000             NaN
18        7600            0.050             NaN
19         200            0.000             NaN
20      450900            0.940         376,239
21      419400            0.320         671,801

In [5]:
df['Country']

0          Australia
1            Belgium
2           Bulgaria
3             Canada
4             France
5            Germany
6             Greece
7            Hungary
8              India
9              Italy
10             Japan
11      Newfoundland
12       New Zealand
13           Romania
14      South Africa
15      Soviet Union
16            Sweden
17       Switzerland
18          Thailand
19            Turkey
20    United Kingdom
21     United States
Name: Country, dtype: object

In [6]:
 -m"

SyntaxError: EOL while scanning string literal (2616469500.py, line 1)

In [7]:
WW2 = WW2.replace(',','', regex=True)

In [12]:
WW2 = WW2.drop(labels=[11,18,16,19,17], axis=0)

KeyError: '[11, 18, 16, 19, 17] not found in axis'

In [9]:
print(WW2)

           Country Total pop 19391939 Militarydeaths Civilian deaths  \
0        Australia            6968000          39700             700
1          Belgium            8387000          12000           76000
2         Bulgaria            6458000          18500            3000
3           Canada           11267000          42000            1600
4           France           41680000         210000          390000
5          Germany           69300000        5318000         3000000
6           Greece            7222000          35100          171800
7          Hungary            9129000         200000          664000
8            India          377800000          87000             NaN
9            Italy           44394000         341000          153200
10           Japan           71380000        2300000          800000
12     New Zealand            1629000          11700             NaN
13         Romania           15970000         300000          200000
14    South Africa           10160000          11900             NaN
15    Soviet Union          188793000       11400000        10000000
20  United Kingdom           47760000         383700           67200
21   United States          131028000         407300           12100

   Totaldeaths  % of Population Militarywounded
0        40400            0.580           39803
1        88000            1.050           55513
2        21500            0.330           21878
3        43600            0.380           53174
4       600000            1.440          390000
5      7400000            1.000         7300000
6       507000            9.095           47290
7       864000            7.270           89313
8      3087000            0.580           64354
9       492400            1.135          320000
10     3100000            3.920          326000
12       11700            0.720           19314
13      500000            3.130          332769
14       11900            0.120           14363
15    27000000            1.150             NaN
20      450900            0.940          376239
21      419400            0.320          671801

In [10]:
WW2.drop(['Militarywounded'], axis=1)

,Country,Total pop 19391939,Militarydeaths,Civilian deaths,Totaldeaths,% of Population
0,Australia,6968000,39700,700,40400,0.580
1,Belgium,8387000,12000,76000,88000,1.050
2,Bulgaria,6458000,18500,3000,21500,0.330
3,Canada,11267000,42000,1600,43600,0.380
4,France,41680000,210000,390000,600000,1.440
5,Germany,69300000,5318000,3000000,7400000,1.000
6,Greece,7222000,35100,171800,507000,9.095
7,Hungary,9129000,200000,664000,864000,7.270
8,India,377800000,87000,NaN,3087000,0.580
9,Italy,44394000,341000,153200,492400,1.135
10,Japan,71380000,2300000,800000,3100000,3.920
12,New Zealand,1629000,11700,NaN,11700,0.720
13,Romania,15970000,300000,200000,500000,3.130
14,South Africa,10160000,11900,NaN,11900,0.120
15,Soviet Union,188793000,11400000,10000000,27000000,1.150
20,United Kingdom,47760000,383700,67200,450900,0.940
21,United States,131028000,407300,12100,419400,0.320

In [11]:
WW2 = WW2.sort_values(by='% of Population',ascending=False)
WW2.head(21)

,Country,Total pop 19391939,Militarydeaths,Civilian deaths,Totaldeaths,% of Population,Militarywounded
6,Greece,7222000,35100,171800,507000,9.095,47290
7,Hungary,9129000,200000,664000,864000,7.270,89313
10,Japan,71380000,2300000,800000,3100000,3.920,326000
13,Romania,15970000,300000,200000,500000,3.130,332769
4,France,41680000,210000,390000,600000,1.440,390000
15,Soviet Union,188793000,11400000,10000000,27000000,1.150,NaN
9,Italy,44394000,341000,153200,492400,1.135,320000
1,Belgium,8387000,12000,76000,88000,1.050,55513
5,Germany,69300000,5318000,3000000,7400000,1.000,7300000
20,United Kingdom,47760000,383700,67200,450900,0.940,376239
12,New Zealand,1629000,11700,NaN,11700,0.720,19314
0,Australia,6968000,39700,700,40400,0.580,39803
8,India,377800000,87000,NaN,3087000,0.580,64354
3,Canada,11267000,42000,1600,43600,0.380,53174
2,Bulgaria,6458000,18500,3000,21500,0.330,21878
21,United States,131028000,407300,12100,419400,0.320,671801
14,South Africa,10160000,11900,NaN,11900,0.120,14363

In [13]:
WW2.head()

,Country,Total pop 19391939,Militarydeaths,Civilian deaths,Totaldeaths,% of Population,Militarywounded
6,Greece,7222000,35100,171800,507000,9.095,47290
7,Hungary,9129000,200000,664000,864000,7.270,89313
10,Japan,71380000,2300000,800000,3100000,3.920,326000
13,Romania,15970000,300000,200000,500000,3.130,332769
4,France,41680000,210000,390000,600000,1.440,390000

In [14]:
print(WW2)

           Country Total pop 19391939 Militarydeaths Civilian deaths  \
6           Greece            7222000          35100          171800
7          Hungary            9129000         200000          664000
10           Japan           71380000        2300000          800000
13         Romania           15970000         300000          200000
4           France           41680000         210000          390000
15    Soviet Union          188793000       11400000        10000000
9            Italy           44394000         341000          153200
1          Belgium            8387000          12000           76000
5          Germany           69300000        5318000         3000000
20  United Kingdom           47760000         383700           67200
12     New Zealand            1629000          11700             NaN
0        Australia            6968000          39700             700
8            India          377800000          87000             NaN
3           Canada           11267000          42000            1600
2         Bulgaria            6458000          18500            3000
21   United States          131028000         407300           12100
14    South Africa           10160000          11900             NaN

   Totaldeaths  % of Population Militarywounded
6       507000            9.095           47290
7       864000            7.270           89313
10     3100000            3.920          326000
13      500000            3.130          332769
4       600000            1.440          390000
15    27000000            1.150             NaN
9       492400            1.135          320000
1        88000            1.050           55513
5      7400000            1.000         7300000
20      450900            0.940          376239
12       11700            0.720           19314
0        40400            0.580           39803
8      3087000            0.580           64354
3        43600            0.380           53174
2        21500            0.330           21878
21      419400            0.320          671801
14       11900            0.120           14363

In [15]:
WW2 = WW2.astype({'Militarydeaths':'int'})

In [16]:
WW2 = WW2.astype({'Total pop 19391939':'int'})

In [26]:
WW2 = WW2.drop(labels=[12], axis=0)

In [27]:
print(WW2)

           Country  Total pop 19391939  Militarydeaths Civilian deaths  \
6           Greece             7222000           35100          171800
7          Hungary             9129000          200000          664000
10           Japan            71380000         2300000          800000
13         Romania            15970000          300000          200000
4           France            41680000          210000          390000
15    Soviet Union           188793000        11400000        10000000
9            Italy            44394000          341000          153200
1          Belgium             8387000           12000           76000
5          Germany            69300000         5318000         3000000
20  United Kingdom            47760000          383700           67200
3           Canada            11267000           42000            1600
2         Bulgaria             6458000           18500            3000
21   United States           131028000          407300           12100

   Totaldeaths  % of Population Militarywounded
6       507000            9.095           47290
7       864000            7.270           89313
10     3100000            3.920          326000
13      500000            3.130          332769
4       600000            1.440          390000
15    27000000            1.150             NaN
9       492400            1.135          320000
1        88000            1.050           55513
5      7400000            1.000         7300000
20      450900            0.940          376239
3        43600            0.380           53174
2        21500            0.330           21878
21      419400            0.320          671801

In [28]:
WW2 = WW2.astype({'Civilian deaths':'int'})

In [29]:
print(WW2)

           Country  Total pop 19391939  Militarydeaths  Civilian deaths  \
6           Greece             7222000           35100           171800
7          Hungary             9129000          200000           664000
10           Japan            71380000         2300000           800000
13         Romania            15970000          300000           200000
4           France            41680000          210000           390000
15    Soviet Union           188793000        11400000         10000000
9            Italy            44394000          341000           153200
1          Belgium             8387000           12000            76000
5          Germany            69300000         5318000          3000000
20  United Kingdom            47760000          383700            67200
3           Canada            11267000           42000             1600
2         Bulgaria             6458000           18500             3000
21   United States           131028000          407300            12100

   Totaldeaths  % of Population Militarywounded
6       507000            9.095           47290
7       864000            7.270           89313
10     3100000            3.920          326000
13      500000            3.130          332769
4       600000            1.440          390000
15    27000000            1.150             NaN
9       492400            1.135          320000
1        88000            1.050           55513
5      7400000            1.000         7300000
20      450900            0.940          376239
3        43600            0.380           53174
2        21500            0.330           21878
21      419400            0.320          671801

In [30]:
WW2 = WW2.drop(labels=[6,7,13,1,3,2], axis=0)

In [31]:
print(WW2)

           Country  Total pop 19391939  Militarydeaths  Civilian deaths  \
10           Japan            71380000         2300000           800000
4           France            41680000          210000           390000
15    Soviet Union           188793000        11400000         10000000
9            Italy            44394000          341000           153200
5          Germany            69300000         5318000          3000000
20  United Kingdom            47760000          383700            67200
21   United States           131028000          407300            12100

   Totaldeaths  % of Population Militarywounded
10     3100000            3.920          326000
4       600000            1.440          390000
15    27000000            1.150             NaN
9       492400            1.135          320000
5      7400000            1.000         7300000
20      450900            0.940          376239
21      419400            0.320          671801