In [4]:
import pandas as pd
df = pd.read_csv('ww2_dataset2.csv')

In [5]:
df.head()

,Country,Total pop 19391939,Militarydeaths,Civilian deaths,Totaldeaths,% of Population,Militarywounded
0,Australia,"6,968,000","39,700",700,40400,0.58,"39,803"
1,Belgium,"8,387,000","12,000","76,000",88000,1.05,"55,513"
2,Bulgaria,"6,458,000","18,500","3,000",21500,0.33,"21,878"
3,Canada,"11,267,000","42,000","1,600",43600,0.38,"53,174"
4,France,"41,680,000","210,000","390,000",600000,1.44,"390,000"

In [6]:
WW2 = df

In [7]:
print(WW2)

           Country Total pop 19391939 Militarydeaths Civilian deaths  \
0        Australia          6,968,000         39,700             700
1          Belgium          8,387,000         12,000          76,000
2         Bulgaria          6,458,000         18,500           3,000
3           Canada         11,267,000         42,000           1,600
4           France         41,680,000        210,000         390,000
5          Germany         69,300,000      5,318,000       3,000,000
6           Greece          7,222,000         35,100         171,800
7          Hungary          9,129,000        200,000         664,000
8            India        377,800,000         87,000             NaN
9            Italy         44,394,000        341,000         153,200
10           Japan         71,380,000      2,300,000         800,000
11    Newfoundland            320,000          1,100             100
12     New Zealand          1,629,000         11,700             NaN
13         Romania         15,970,000        300,000         200,000
14    South Africa         10,160,000         11,900             NaN
15    Soviet Union        188,793,000     11,400,000      10,000,000
16          Sweden          6,341,000            100           2,000
17     Switzerland          4,210,000            NaN             100
18        Thailand         15,023,000          5,600           2,000
19          Turkey         17,370,000            200             NaN
20  United Kingdom         47,760,000        383,700          67,200
21   United States        131,028,000        407,300          12,100

   Totaldeaths  % of Population Militarywounded
0        40400            0.580          39,803
1        88000            1.050          55,513
2        21500            0.330          21,878
3        43600            0.380          53,174
4       600000            1.440         390,000
5    7,400,000            1.000       7,300,000
6      507,000            9.095          47,290
7      864,000            7.270          89,313
8    3,087,000            0.580          64,354
9      492,400            1.135         320,000
10   3,100,000            3.920         326,000
11        1200            0.300             NaN
12       11700            0.720          19,314
13     500,000            3.130         332,769
14       11900            0.120          14,363
15  27,000,000            1.150             NaN
16        2100            0.030             NaN
17         100            0.000             NaN
18        7600            0.050             NaN
19         200            0.000             NaN
20      450900            0.940         376,239
21      419400            0.320         671,801

In [8]:
df['Country']

0          Australia
1            Belgium
2           Bulgaria
3             Canada
4             France
5            Germany
6             Greece
7            Hungary
8              India
9              Italy
10             Japan
11      Newfoundland
12       New Zealand
13           Romania
14      South Africa
15      Soviet Union
16            Sweden
17       Switzerland
18          Thailand
19            Turkey
20    United Kingdom
21     United States
Name: Country, dtype: object

In [ ]:
WW2.drop(['C', ''], axis=1)