In [164]:
import pandas as pd
df = pd.read_csv('ww2_dataset2.csv')
import numpy as np

In [29]:
df.head()

,Country,Total pop 19391939,Militarydeaths,Civilian deaths,Totaldeaths,% of Population,Militarywounded
0,Australia,"6,968,000","39,700",700,40400,0.58,"39,803"
1,Belgium,"8,387,000","12,000","76,000",88000,1.05,"55,513"
2,Bulgaria,"6,458,000","18,500","3,000",21500,0.33,"21,878"
3,Canada,"11,267,000","42,000","1,600",43600,0.38,"53,174"
4,France,"41,680,000","210,000","390,000",600000,1.44,"390,000"

In [30]:
WW2 = df

In [31]:
print(WW2)

           Country Total pop 19391939 Militarydeaths Civilian deaths  \
0        Australia          6,968,000         39,700             700
1          Belgium          8,387,000         12,000          76,000
2         Bulgaria          6,458,000         18,500           3,000
3           Canada         11,267,000         42,000           1,600
4           France         41,680,000        210,000         390,000
5          Germany         69,300,000      5,318,000       3,000,000
6           Greece          7,222,000         35,100         171,800
7          Hungary          9,129,000        200,000         664,000
8            India        377,800,000         87,000             NaN
9            Italy         44,394,000        341,000         153,200
10           Japan         71,380,000      2,300,000         800,000
11    Newfoundland            320,000          1,100             100
12     New Zealand          1,629,000         11,700             NaN
13         Romania         15,970,000        300,000         200,000
14    South Africa         10,160,000         11,900             NaN
15    Soviet Union        188,793,000     11,400,000      10,000,000
16          Sweden          6,341,000            100           2,000
17     Switzerland          4,210,000            NaN             100
18        Thailand         15,023,000          5,600           2,000
19          Turkey         17,370,000            200             NaN
20  United Kingdom         47,760,000        383,700          67,200
21   United States        131,028,000        407,300          12,100

   Totaldeaths  % of Population Militarywounded
0        40400            0.580          39,803
1        88000            1.050          55,513
2        21500            0.330          21,878
3        43600            0.380          53,174
4       600000            1.440         390,000
5    7,400,000            1.000       7,300,000
6      507,000            9.095          47,290
7      864,000            7.270          89,313
8    3,087,000            0.580          64,354
9      492,400            1.135         320,000
10   3,100,000            3.920         326,000
11        1200            0.300             NaN
12       11700            0.720          19,314
13     500,000            3.130         332,769
14       11900            0.120          14,363
15  27,000,000            1.150             NaN
16        2100            0.030             NaN
17         100            0.000             NaN
18        7600            0.050             NaN
19         200            0.000             NaN
20      450900            0.940         376,239
21      419400            0.320         671,801

In [32]:
df['Country']

0          Australia
1            Belgium
2           Bulgaria
3             Canada
4             France
5            Germany
6             Greece
7            Hungary
8              India
9              Italy
10             Japan
11      Newfoundland
12       New Zealand
13           Romania
14      South Africa
15      Soviet Union
16            Sweden
17       Switzerland
18          Thailand
19            Turkey
20    United Kingdom
21     United States
Name: Country, dtype: object

In [7]:
 -m"

SyntaxError: EOL while scanning string literal (2616469500.py, line 1)

In [33]:
WW2 = WW2.replace(',','', regex=True)

In [34]:
WW2 = WW2.drop(labels=[11,18,16,19,17], axis=0)

In [35]:
print(WW2)

           Country Total pop 19391939 Militarydeaths Civilian deaths  \
0        Australia            6968000          39700             700
1          Belgium            8387000          12000           76000
2         Bulgaria            6458000          18500            3000
3           Canada           11267000          42000            1600
4           France           41680000         210000          390000
5          Germany           69300000        5318000         3000000
6           Greece            7222000          35100          171800
7          Hungary            9129000         200000          664000
8            India          377800000          87000             NaN
9            Italy           44394000         341000          153200
10           Japan           71380000        2300000          800000
12     New Zealand            1629000          11700             NaN
13         Romania           15970000         300000          200000
14    South Africa           10160000          11900             NaN
15    Soviet Union          188793000       11400000        10000000
20  United Kingdom           47760000         383700           67200
21   United States          131028000         407300           12100

   Totaldeaths  % of Population Militarywounded
0        40400            0.580           39803
1        88000            1.050           55513
2        21500            0.330           21878
3        43600            0.380           53174
4       600000            1.440          390000
5      7400000            1.000         7300000
6       507000            9.095           47290
7       864000            7.270           89313
8      3087000            0.580           64354
9       492400            1.135          320000
10     3100000            3.920          326000
12       11700            0.720           19314
13      500000            3.130          332769
14       11900            0.120           14363
15    27000000            1.150             NaN
20      450900            0.940          376239
21      419400            0.320          671801

In [36]:
WW2.drop(['Militarywounded'], axis=1)

,Country,Total pop 19391939,Militarydeaths,Civilian deaths,Totaldeaths,% of Population
0,Australia,6968000,39700,700,40400,0.580
1,Belgium,8387000,12000,76000,88000,1.050
2,Bulgaria,6458000,18500,3000,21500,0.330
3,Canada,11267000,42000,1600,43600,0.380
4,France,41680000,210000,390000,600000,1.440
5,Germany,69300000,5318000,3000000,7400000,1.000
6,Greece,7222000,35100,171800,507000,9.095
7,Hungary,9129000,200000,664000,864000,7.270
8,India,377800000,87000,NaN,3087000,0.580
9,Italy,44394000,341000,153200,492400,1.135
10,Japan,71380000,2300000,800000,3100000,3.920
12,New Zealand,1629000,11700,NaN,11700,0.720
13,Romania,15970000,300000,200000,500000,3.130
14,South Africa,10160000,11900,NaN,11900,0.120
15,Soviet Union,188793000,11400000,10000000,27000000,1.150
20,United Kingdom,47760000,383700,67200,450900,0.940
21,United States,131028000,407300,12100,419400,0.320

In [37]:
WW2 = WW2.sort_values(by='% of Population',ascending=False)
WW2.head(21)

,Country,Total pop 19391939,Militarydeaths,Civilian deaths,Totaldeaths,% of Population,Militarywounded
6,Greece,7222000,35100,171800,507000,9.095,47290
7,Hungary,9129000,200000,664000,864000,7.270,89313
10,Japan,71380000,2300000,800000,3100000,3.920,326000
13,Romania,15970000,300000,200000,500000,3.130,332769
4,France,41680000,210000,390000,600000,1.440,390000
15,Soviet Union,188793000,11400000,10000000,27000000,1.150,NaN
9,Italy,44394000,341000,153200,492400,1.135,320000
1,Belgium,8387000,12000,76000,88000,1.050,55513
5,Germany,69300000,5318000,3000000,7400000,1.000,7300000
20,United Kingdom,47760000,383700,67200,450900,0.940,376239
12,New Zealand,1629000,11700,NaN,11700,0.720,19314
0,Australia,6968000,39700,700,40400,0.580,39803
8,India,377800000,87000,NaN,3087000,0.580,64354
3,Canada,11267000,42000,1600,43600,0.380,53174
2,Bulgaria,6458000,18500,3000,21500,0.330,21878
21,United States,131028000,407300,12100,419400,0.320,671801
14,South Africa,10160000,11900,NaN,11900,0.120,14363

In [38]:
WW2.head()

,Country,Total pop 19391939,Militarydeaths,Civilian deaths,Totaldeaths,% of Population,Militarywounded
6,Greece,7222000,35100,171800,507000,9.095,47290
7,Hungary,9129000,200000,664000,864000,7.270,89313
10,Japan,71380000,2300000,800000,3100000,3.920,326000
13,Romania,15970000,300000,200000,500000,3.130,332769
4,France,41680000,210000,390000,600000,1.440,390000

In [39]:
print(WW2)

           Country Total pop 19391939 Militarydeaths Civilian deaths  \
6           Greece            7222000          35100          171800
7          Hungary            9129000         200000          664000
10           Japan           71380000        2300000          800000
13         Romania           15970000         300000          200000
4           France           41680000         210000          390000
15    Soviet Union          188793000       11400000        10000000
9            Italy           44394000         341000          153200
1          Belgium            8387000          12000           76000
5          Germany           69300000        5318000         3000000
20  United Kingdom           47760000         383700           67200
12     New Zealand            1629000          11700             NaN
0        Australia            6968000          39700             700
8            India          377800000          87000             NaN
3           Canada           11267000          42000            1600
2         Bulgaria            6458000          18500            3000
21   United States          131028000         407300           12100
14    South Africa           10160000          11900             NaN

   Totaldeaths  % of Population Militarywounded
6       507000            9.095           47290
7       864000            7.270           89313
10     3100000            3.920          326000
13      500000            3.130          332769
4       600000            1.440          390000
15    27000000            1.150             NaN
9       492400            1.135          320000
1        88000            1.050           55513
5      7400000            1.000         7300000
20      450900            0.940          376239
12       11700            0.720           19314
0        40400            0.580           39803
8      3087000            0.580           64354
3        43600            0.380           53174
2        21500            0.330           21878
21      419400            0.320          671801
14       11900            0.120           14363

In [40]:
WW2 = WW2.astype({'Militarydeaths':'int'})

In [41]:
WW2 = WW2.astype({'Total pop 19391939':'int'})

In [42]:
WW2 = WW2.drop(labels=[12], axis=0)

In [43]:
print(WW2)

           Country  Total pop 19391939  Militarydeaths Civilian deaths  \
6           Greece             7222000           35100          171800
7          Hungary             9129000          200000          664000
10           Japan            71380000         2300000          800000
13         Romania            15970000          300000          200000
4           France            41680000          210000          390000
15    Soviet Union           188793000        11400000        10000000
9            Italy            44394000          341000          153200
1          Belgium             8387000           12000           76000
5          Germany            69300000         5318000         3000000
20  United Kingdom            47760000          383700           67200
0        Australia             6968000           39700             700
8            India           377800000           87000             NaN
3           Canada            11267000           42000            1600
2         Bulgaria             6458000           18500            3000
21   United States           131028000          407300           12100
14    South Africa            10160000           11900             NaN

   Totaldeaths  % of Population Militarywounded
6       507000            9.095           47290
7       864000            7.270           89313
10     3100000            3.920          326000
13      500000            3.130          332769
4       600000            1.440          390000
15    27000000            1.150             NaN
9       492400            1.135          320000
1        88000            1.050           55513
5      7400000            1.000         7300000
20      450900            0.940          376239
0        40400            0.580           39803
8      3087000            0.580           64354
3        43600            0.380           53174
2        21500            0.330           21878
21      419400            0.320          671801
14       11900            0.120           14363

In [44]:
WW2 = WW2.astype({'Civilian deaths':'int'})

ValueError: cannot convert float NaN to integer

In [45]:
print(WW2)

           Country  Total pop 19391939  Militarydeaths Civilian deaths  \
6           Greece             7222000           35100          171800
7          Hungary             9129000          200000          664000
10           Japan            71380000         2300000          800000
13         Romania            15970000          300000          200000
4           France            41680000          210000          390000
15    Soviet Union           188793000        11400000        10000000
9            Italy            44394000          341000          153200
1          Belgium             8387000           12000           76000
5          Germany            69300000         5318000         3000000
20  United Kingdom            47760000          383700           67200
0        Australia             6968000           39700             700
8            India           377800000           87000             NaN
3           Canada            11267000           42000            1600
2         Bulgaria             6458000           18500            3000
21   United States           131028000          407300           12100
14    South Africa            10160000           11900             NaN

   Totaldeaths  % of Population Militarywounded
6       507000            9.095           47290
7       864000            7.270           89313
10     3100000            3.920          326000
13      500000            3.130          332769
4       600000            1.440          390000
15    27000000            1.150             NaN
9       492400            1.135          320000
1        88000            1.050           55513
5      7400000            1.000         7300000
20      450900            0.940          376239
0        40400            0.580           39803
8      3087000            0.580           64354
3        43600            0.380           53174
2        21500            0.330           21878
21      419400            0.320          671801
14       11900            0.120           14363

In [46]:
WW2 = WW2.drop(labels=[6,7,13,1,3,2], axis=0)

In [47]:
print(WW2)

           Country  Total pop 19391939  Militarydeaths Civilian deaths  \
10           Japan            71380000         2300000          800000
4           France            41680000          210000          390000
15    Soviet Union           188793000        11400000        10000000
9            Italy            44394000          341000          153200
5          Germany            69300000         5318000         3000000
20  United Kingdom            47760000          383700           67200
0        Australia             6968000           39700             700
8            India           377800000           87000             NaN
21   United States           131028000          407300           12100
14    South Africa            10160000           11900             NaN

   Totaldeaths  % of Population Militarywounded
10     3100000            3.920          326000
4       600000            1.440          390000
15    27000000            1.150             NaN
9       492400            1.135          320000
5      7400000            1.000         7300000
20      450900            0.940          376239
0        40400            0.580           39803
8      3087000            0.580           64354
21      419400            0.320          671801
14       11900            0.120           14363

In [48]:
WW2.drop_duplicates(subset=['Country'], keep=False)

,Country,Total pop 19391939,Militarydeaths,Civilian deaths,Totaldeaths,% of Population,Militarywounded
10,Japan,71380000,2300000,800000,3100000,3.920,326000
4,France,41680000,210000,390000,600000,1.440,390000
15,Soviet Union,188793000,11400000,10000000,27000000,1.150,NaN
9,Italy,44394000,341000,153200,492400,1.135,320000
5,Germany,69300000,5318000,3000000,7400000,1.000,7300000
20,United Kingdom,47760000,383700,67200,450900,0.940,376239
0,Australia,6968000,39700,700,40400,0.580,39803
8,India,377800000,87000,NaN,3087000,0.580,64354
21,United States,131028000,407300,12100,419400,0.320,671801
14,South Africa,10160000,11900,NaN,11900,0.120,14363

In [56]:
import requests
from bs4 import BeautifulSoup

url = "https://en.wikipedia.org/wiki/World_War_I_casualties"
page = requests.get(url)

soup = BeautifulSoup(page.content, 'html.parser')
indiatable=soup.find('table',{'class':"wikitable"})

import pandas as pd

In [57]:
listings = soup.find_all("li", class_="td")
for listing in listings:
        print("tables")

In [58]:
df=pd.read_html(str(indiatable))

In [59]:
df=pd.DataFrame(df[0])
print(df.head())

                                     Nation  \
  Allies and co-belligerents of World War I
0                               Australia b
1                                  Canada d
2                                   India g
3                             New Zealand l
4                            Newfoundland m

                      Population (millions)  \
  Allies and co-belligerents of World War I
0                                       5.0
1                                       7.2
2                                     315.1
3                                       1.1
4                                       0.2

  Combat deaths and missing in action (included in total military deaths)  \
                                Allies and co-belligerents of World War I
0                                         61,527[19]
1                                         56,638[22]
2                                         64,449[21]
3                                         18,166[25]
4                                          1,204[21]

    Total military deaths (from all causes)  \
  Allies and co-belligerents of World War I
0                   59,330[20]to 62,149[11]
1                  56,639[21] to 64,996[11]
2                  64,449[21] to 73,905[11]
3                  16,711[21] to 18,060[11]
4  1,204[21] to 1,570[26](included with UK)

  Civilian deaths (military action and crimes against humanity)  \
                      Allies and co-belligerents of World War I
0                                                NaN
1                                      1,963[23][24]
2                                                NaN
3                                                NaN
4                                                NaN

  Increase in civilian deaths (malnutrition and disease excluding Influenza pandemic)  \
                                            Allies and co-belligerents of World War I
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN

                               Total deaths  \
  Allies and co-belligerents of World War I
0                           59,330to 62,149
1                          58,639 to 66,996
2                          64,449 to 73,905
3                          16,711 to 18,060
4                             1,204to 1,570

                  Deaths as% of population  \
  Allies and co-belligerents of World War I
0                              1.2% to 1.2%
1                              0.8% to 0.9%
2                                  0% to 0%
3                              1.5% to 1.6%
4                              0.6% to 0.8%

                           Military wounded
  Allies and co-belligerents of World War I
0                               152,171[21]
1                               149,732[21]
2                                69,214[21]
3                                41,317[21]
4                                 2,314[21]

In [60]:
WW1 = df

In [61]:
print(WW1)

                                      Nation  \
   Allies and co-belligerents of World War I
0                                Australia b
1                                   Canada d
2                                    India g
3                              New Zealand l
4                             Newfoundland m
5                             South Africa r
6             United Kingdom(and Colonies) s
7               Sub-total for British Empire
8                                  Belgium c
9                                   France e
10                                  Greece f
11                                   Italy h
12                                   Japan i
13                              Montenegro k
14                                Portugal n
15                                 Romania o
16                                  Russia p
17                                  Serbia q
18                           United States t
19                        TotalAllied Powers
20                            Central Powers
21                         Austria-Hungary u
22                                Bulgaria v
23                                 Germany w
24                          Ottoman Empire x
25                       TotalCentral Powers
26                           Neutral nations
27                                 Denmark y
28                              Luxembourg j
29                                  Norway z
30                           Qajar Persia az
31                                 Sweden bz
32                               Grand total

                       Population (millions)  \
   Allies and co-belligerents of World War I
0                                        5.0
1                                        7.2
2                                      315.1
3                                        1.1
4                                        0.2
5                                        6.0
6                                       45.4
7                                      380.0
8                                        7.4
9                                       39.6
10                                       4.8
11                                      35.6
12                                      53.6
13                                       0.5
14                                       6.0
15                                       7.5
16                                     175.1
17                                       4.5
18                                      92.0
19                                     806.6
20                            Central Powers
21                                      51.4
22                                       4.5
23                                      64.9
24                                      21.3
25                                     142.1
26                           Neutral nations
27                                       2.8
28                                       0.3
29                                       2.4
30                                  10.5[75]
31                                       5.6
32                                     959.7

   Combat deaths and missing in action (included in total military deaths)  \
                                 Allies and co-belligerents of World War I
0                                          61,527[19]
1                                          56,638[22]
2                                          64,449[21]
3                                          18,166[25]
4                                           1,204[21]
5                                           7,121[21]
6                                           744,000s1
7                                              953104
8                                          38,170[20]
9                                   1,150,000[34][35]
10                                          5,000[20]
11                                        460,000[29]
12                                            300[33]
13                                          3,000[33]
14                                          7,222[29]
15                                        335,706[20]
16                       775,369 to 1,700,000[33][20]
17                                        127,500[20]
18                                         53,402[52]
19                                            4833404
20                                     Central Powers
21                                  1,016,200[56][57]
22                                         87,500[33]
23                              1,800,000[33][62][63]
24                                        305,085[70]
25                                            3208785
26                                    Neutral nations
27          See footnote re: Danes in German military
28                                                NaN
29                                                NaN
30                                                NaN
31                                                NaN
32                                            8042189

     Total military deaths (from all causes)  \
   Allies and co-belligerents of World War I
0                    59,330[20]to 62,149[11]
1                   56,639[21] to 64,996[11]
2                   64,449[21] to 73,905[11]
3                   16,711[21] to 18,060[11]
4   1,204[21] to 1,570[26](included with UK)
5                     7,121[21] to 9,726[11]
6                                887,858[11]
7                       949,454 to 1,118,264
8                    38,170[29]to 58,637[30]
9              1,357,000[20]to 1,397,800[36]
10                   5,000[20] to 26,000[39]
11                460,000[29] to 651,000[41]
12                      300[33] to 4,661[44]
13                   3,000[33] to 13,325[44]
14                                 7,222[29]
15                250,000[44] to 335,706[20]
16             1,700,000[33] to2,254,369[48]
17                 300,000[50]to 450,000[51]
18                           116,708[53][54]
19                    5,186,854 to 6,433,692
20                            Central Powers
21         1,200,000[33][58]to 1,494,200[57]
22                            87,500[33][20]
23                         2,037,000[64][65]
24                325,000[33] to 771,844[71]
25                    3,386,200 to 4,390,544
26                           Neutral nations
27                                       NaN
28                                      2800
29                                       NaN
30                                       NaN
31                                       NaN
32                   8,573,054 to 10,824,236

   Civilian deaths (military action and crimes against humanity)  \
                       Allies and co-belligerents of World War I
0                                                 NaN
1                                       1,963[23][24]
2                                                 NaN
3                                                 NaN
4                                                 NaN
5                                                 NaN
6                                      16,829[21][27]
7                                               18829
8                                          23,700[31]
9                                  40,000[18][37][38]
10                                                NaN
11                                          3,400[42]
12                                                NaN
13                                                NaN
14                                             13[45]
15                                        130,000[47]
16                                        410,000[49]
17                                                NaN
18                                            757[55]
19                                             626699
20                                     Central Powers
21                                        120,000[59]
22                                                NaN
23                                            720[66]
24                                      1,500,000[72]
25                                            1620720
26                                    Neutral nations
27                                                NaN
28                                                NaN
29                                                NaN
30                                                NaN
31                                                NaN
32                                            2250099

   Increase in civilian deaths (malnutrition and disease excluding Influenza pandemic)  \
                                             Allies and co-belligerents of World War I
0                                                 NaN
1                                                 NaN
2                                                 NaN
3                                                 NaN
4                                                 NaN
5                                                 NaN
6                                         107,000[28]
7                                              107000
8                                          62,000[32]
9                                         300,000[32]
10                                        150,000[40]
11                                        589,000[43]
12                                                NaN
13                                                NaN
14                                         82,000[46]
15                                        200,000[47]
16                                        730,000[49]
17                          450,000[50]to 800,000[51]
18                                                NaN
19                              3,420,000to 3,770,000
20                                     Central Powers
21                                        467,000[60]
22                                        100,000[61]
23                     424,000[67] to 763,000[68][69]
24                                      1,000,000[73]
25                             1,991,000 to 2,330,000
26                                    Neutral nations
27                                            700[74]
28                                                NaN
29                                          1,180[44]
30                                      2,000,000[76]
31                                            800[44]
32                             5,411,000 to 6,100,000

                                Total deaths  \
   Allies and co-belligerents of World War I
0                            59,330to 62,149
1                           58,639 to 66,996
2                           64,449 to 73,905
3                           16,711 to 18,060
4                              1,204to 1,570
5                             7,121 to 9,726
6                       867,829 to 1,011,687
7                      1,077,283to 1,244,093
8                          123,870to 144,337
9                      1,697,000to 1,737,800
10                        155,000 to 176,000
11                    1,052,400 to 1,243,400
12                              300 to 4,661
13                           3,000 to 13,325
14                                     89235
15                        580,000 to 665,706
16                     2,840,000 to3,394,369
17                      750,000 to 1,250,000
18                                    117466
19                   9,235,553 to 10,080,391
20                            Central Powers
21                    1,787,000 to 2,081,200
22                                    187500
23                    2,198,420 to 2,800,720
24                    2,825,000 to 3,271,844
25                    6,997,920 to 8,341,264
26                           Neutral nations
27                                       700
28                                       NaN
29                                      1180
30                                   2000000
31                                       800
32               15,000,000 to 22,000,000[1]

                   Deaths as% of population  \
   Allies and co-belligerents of World War I
0                               1.2% to 1.2%
1                               0.8% to 0.9%
2                                   0% to 0%
3                               1.5% to 1.6%
4                               0.6% to 0.8%
5                               0.1% to 0.2%
6                               1.9% to 2.2%
7                               0.3% to 0.3%
8                                 1.7% to 2%
9                               4.3% to 4.4%
10                              3.2% to 3.7%
11                                3% to 3.5%
12                                  0% to 0%
13                              0.6% to 2.7%
14                                      1.5%
15                              7.7% to 8.9%
16                              1.6% to 1.9%
17                            16.7% to 27.8%
18                                      0.1%
19                              1.1% to 1.2%
20                            Central Powers
21                                3.5% to 4%
22                                      3.4%
23                              3.4% to 4.3%
24                            13.3% to 15.4%
25                              4.9% to 5.9%
26                           Neutral nations
27                                        0%
28                              See footnote
29                                      0.1%
30                                       19%
31                                        0%
32                              1.7% to 2.3%

                            Military wounded
   Allies and co-belligerents of World War I
0                                152,171[21]
1                                149,732[21]
2                                 69,214[21]
3                                 41,317[21]
4                                  2,314[21]
5                                 12,029[21]
6                                1,675,000s1
7                                    2101077
8                                 44,686[33]
9                              4,266,000[33]
10                                21,000[33]
11                               947,000[33]
12                                   907[33]
13                                10,000[33]
14                                13,751[29]
15                               120,000[33]
16             3,749,000[48] to4,950,000[33]
17                               133,148[33]
18                               204,002[53]
19                  11,611,271 to 12,812,271
20                            Central Powers
21                             3,620,000[21]
22                           152,390[33][20]
23                             4,215,662[64]
24                400,000[33] to 763,753[71]
25                     8,388,052to 8,751,805
26                           Neutral nations
27
28                                       NaN
29
30
31
32                  22,101,100 to 23,665,873

In [62]:
WW1 = WW1.drop(labels=[0,1,2,3,4,5,7,8,10,13,14,15,17,19,20,21,22,24,25,26,27,28,29,30,31,32], axis=0)

In [63]:
print(WW1)

                                      Nation  \
   Allies and co-belligerents of World War I
6             United Kingdom(and Colonies) s
9                                   France e
11                                   Italy h
12                                   Japan i
16                                  Russia p
18                           United States t
23                                 Germany w

                       Population (millions)  \
   Allies and co-belligerents of World War I
6                                       45.4
9                                       39.6
11                                      35.6
12                                      53.6
16                                     175.1
18                                      92.0
23                                      64.9

   Combat deaths and missing in action (included in total military deaths)  \
                                 Allies and co-belligerents of World War I
6                                           744,000s1
9                                   1,150,000[34][35]
11                                        460,000[29]
12                                            300[33]
16                       775,369 to 1,700,000[33][20]
18                                         53,402[52]
23                              1,800,000[33][62][63]

     Total military deaths (from all causes)  \
   Allies and co-belligerents of World War I
6                                887,858[11]
9              1,357,000[20]to 1,397,800[36]
11                460,000[29] to 651,000[41]
12                      300[33] to 4,661[44]
16             1,700,000[33] to2,254,369[48]
18                           116,708[53][54]
23                         2,037,000[64][65]

   Civilian deaths (military action and crimes against humanity)  \
                       Allies and co-belligerents of World War I
6                                      16,829[21][27]
9                                  40,000[18][37][38]
11                                          3,400[42]
12                                                NaN
16                                        410,000[49]
18                                            757[55]
23                                            720[66]

   Increase in civilian deaths (malnutrition and disease excluding Influenza pandemic)  \
                                             Allies and co-belligerents of World War I
6                                         107,000[28]
9                                         300,000[32]
11                                        589,000[43]
12                                                NaN
16                                        730,000[49]
18                                                NaN
23                     424,000[67] to 763,000[68][69]

                                Total deaths  \
   Allies and co-belligerents of World War I
6                       867,829 to 1,011,687
9                      1,697,000to 1,737,800
11                    1,052,400 to 1,243,400
12                              300 to 4,661
16                     2,840,000 to3,394,369
18                                    117466
23                    2,198,420 to 2,800,720

                   Deaths as% of population  \
   Allies and co-belligerents of World War I
6                               1.9% to 2.2%
9                               4.3% to 4.4%
11                                3% to 3.5%
12                                  0% to 0%
16                              1.6% to 1.9%
18                                      0.1%
23                              3.4% to 4.3%

                            Military wounded
   Allies and co-belligerents of World War I
6                                1,675,000s1
9                              4,266,000[33]
11                               947,000[33]
12                                   907[33]
16             3,749,000[48] to4,950,000[33]
18                               204,002[53]
23                             4,215,662[64]

In [64]:
WW1 = WW1.rename(columns={'Population (millions)': 'Population', 'Nation': 'Country'})

In [65]:
WW1 = WW1.rename(columns={'Combat deaths and missing in action (included in total military deaths': 'Militarydeaths', 'Civilian deaths (military action and crimes against humanity': 'Civilian deaths'})

In [66]:
WW1 = WW1.rename(columns={'Total deaths': '	Totaldeaths', 'Deaths as % of population': '% of Population'})

In [67]:
print(WW1)

                                     Country  \
   Allies and co-belligerents of World War I
6             United Kingdom(and Colonies) s
9                                   France e
11                                   Italy h
12                                   Japan i
16                                  Russia p
18                           United States t
23                                 Germany w

                                  Population  \
   Allies and co-belligerents of World War I
6                                       45.4
9                                       39.6
11                                      35.6
12                                      53.6
16                                     175.1
18                                      92.0
23                                      64.9

   Combat deaths and missing in action (included in total military deaths)  \
                                 Allies and co-belligerents of World War I
6                                           744,000s1
9                                   1,150,000[34][35]
11                                        460,000[29]
12                                            300[33]
16                       775,369 to 1,700,000[33][20]
18                                         53,402[52]
23                              1,800,000[33][62][63]

     Total military deaths (from all causes)  \
   Allies and co-belligerents of World War I
6                                887,858[11]
9              1,357,000[20]to 1,397,800[36]
11                460,000[29] to 651,000[41]
12                      300[33] to 4,661[44]
16             1,700,000[33] to2,254,369[48]
18                           116,708[53][54]
23                         2,037,000[64][65]

   Civilian deaths (military action and crimes against humanity)  \
                       Allies and co-belligerents of World War I
6                                      16,829[21][27]
9                                  40,000[18][37][38]
11                                          3,400[42]
12                                                NaN
16                                        410,000[49]
18                                            757[55]
23                                            720[66]

   Increase in civilian deaths (malnutrition and disease excluding Influenza pandemic)  \
                                             Allies and co-belligerents of World War I
6                                         107,000[28]
9                                         300,000[32]
11                                        589,000[43]
12                                                NaN
16                                        730,000[49]
18                                                NaN
23                     424,000[67] to 763,000[68][69]

                               \tTotaldeaths  \
   Allies and co-belligerents of World War I
6                       867,829 to 1,011,687
9                      1,697,000to 1,737,800
11                    1,052,400 to 1,243,400
12                              300 to 4,661
16                     2,840,000 to3,394,369
18                                    117466
23                    2,198,420 to 2,800,720

                   Deaths as% of population  \
   Allies and co-belligerents of World War I
6                               1.9% to 2.2%
9                               4.3% to 4.4%
11                                3% to 3.5%
12                                  0% to 0%
16                              1.6% to 1.9%
18                                      0.1%
23                              3.4% to 4.3%

                            Military wounded
   Allies and co-belligerents of World War I
6                                1,675,000s1
9                              4,266,000[33]
11                               947,000[33]
12                                   907[33]
16             3,749,000[48] to4,950,000[33]
18                               204,002[53]
23                             4,215,662[64]

In [ ]:
WW1.drop(['Military wounded'], axis=1, inplace=True)

In [ ]:
WW1.drop(['Combat deaths and missing in action (included in total military deaths)'], axis=1, inplace=True)
                                                 
WW1.drop(['Increase in civilian deaths (malnutrition and disease excluding Influenza pandemic)'], axis=1, inplace=True)

In [ ]:
WW1.head()

In [ ]:
WW1.drop_duplicates()

In [71]:
import requests
from bs4 import BeautifulSoup

url = "https://en.wikipedia.org/wiki/World_War_I_casualties"
page = requests.get(url)

soup = BeautifulSoup(page.content, 'html.parser')
indiatable=soup.find('table',{'class':"wikitable"})

import pandas as pd

In [72]:
listings = soup.find_all("li", class_="td")
for listing in listings:
        print("tables")

In [73]:
df=pd.read_html(str(indiatable))

In [74]:
world_war = df[0]

In [75]:
type(world_war.columns)

pandas.core.indexes.multi.MultiIndex

In [76]:
world_war.columns = world_war.columns.droplevel(level=1)

In [77]:
world_war.columns

Index(['Nation', 'Population (millions)',
       'Combat deaths and missing in action (included in total military deaths)',
       'Total military deaths (from all causes)',
       'Civilian deaths (military action and crimes against humanity)',
       'Increase in civilian deaths (malnutrition and disease excluding Influenza pandemic)',
       'Total deaths', 'Deaths as% of population', 'Military wounded'],
      dtype='object')

In [78]:
world_war.columns[-2]

'Deaths as\xa0% of population'

In [79]:
world_war.iloc[:, -2].head()

0    1.2% to 1.2%
1    0.8% to 0.9%
2        0% to 0%
3    1.5% to 1.6%
4    0.6% to 0.8%
Name: Deaths as% of population, dtype: object

In [80]:
world_war = world_war.drop(labels=[0,1,2,3,4,5,7,8,10,13,14,15,17,19,20,21,22,24,25,26,27,28,29,30,31,32], axis=0)

In [81]:
world_war.iloc[:,-2].values

array(['1.9% to 2.2%', '4.3% to 4.4%', '3% to 3.5%', '0% to 0%',
       '1.6% to 1.9%', '0.1%', '3.4% to 4.3%'], dtype=object)

In [82]:
world_war.iloc[:,-2].str.split("%").str[0]

6     1.9
9     4.3
11      3
12      0
16    1.6
18    0.1
23    3.4
Name: Deaths as% of population, dtype: object

In [83]:
filtered_deaths_percent = world_war.iloc[:,-2].str.split("%").str[0].values

In [84]:
filtered_deaths_percent

array(['1.9', '4.3', '3', '0', '1.6', '0.1', '3.4'], dtype=object)

In [85]:
world_war_updated = world_war

In [86]:
world_war_updated.iloc[:,-2] = filtered_deaths_percent

In [87]:
world_war_updated

,Nation,Population (millions),Combat deaths and missing in action (included in total military deaths),Total military deaths (from all causes),Civilian deaths (military action and crimes against humanity),Increase in civilian deaths (malnutrition and disease excluding Influenza pandemic),Total deaths,Deaths as% of population,Military wounded
6,United Kingdom(and Colonies) s,45.4,"744,000s1","887,858[11]","16,829[21][27]","107,000[28]","867,829 to 1,011,687",1.9,"1,675,000s1"
9,France e,39.6,"1,150,000[34][35]","1,357,000[20]to 1,397,800[36]","40,000[18][37][38]","300,000[32]","1,697,000to 1,737,800",4.3,"4,266,000[33]"
11,Italy h,35.6,"460,000[29]","460,000[29] to 651,000[41]","3,400[42]","589,000[43]","1,052,400 to 1,243,400",3,"947,000[33]"
12,Japan i,53.6,300[33],"300[33] to 4,661[44]",NaN,NaN,"300 to 4,661",0,907[33]
16,Russia p,175.1,"775,369 to 1,700,000[33][20]","1,700,000[33] to2,254,369[48]","410,000[49]","730,000[49]","2,840,000 to3,394,369",1.6,"3,749,000[48] to4,950,000[33]"
18,United States t,92.0,"53,402[52]","116,708[53][54]",757[55],NaN,117466,0.1,"204,002[53]"
23,Germany w,64.9,"1,800,000[33][62][63]","2,037,000[64][65]",720[66],"424,000[67] to 763,000[68][69]","2,198,420 to 2,800,720",3.4,"4,215,662[64]"

In [88]:
convert_col_numeric = pd.to_numeric(world_war_updated.iloc[:,-2])

In [89]:
world_war_updated.iloc[:,-2] = convert_col_numeric

In [90]:
world_war_updated

,Nation,Population (millions),Combat deaths and missing in action (included in total military deaths),Total military deaths (from all causes),Civilian deaths (military action and crimes against humanity),Increase in civilian deaths (malnutrition and disease excluding Influenza pandemic),Total deaths,Deaths as% of population,Military wounded
6,United Kingdom(and Colonies) s,45.4,"744,000s1","887,858[11]","16,829[21][27]","107,000[28]","867,829 to 1,011,687",1.9,"1,675,000s1"
9,France e,39.6,"1,150,000[34][35]","1,357,000[20]to 1,397,800[36]","40,000[18][37][38]","300,000[32]","1,697,000to 1,737,800",4.3,"4,266,000[33]"
11,Italy h,35.6,"460,000[29]","460,000[29] to 651,000[41]","3,400[42]","589,000[43]","1,052,400 to 1,243,400",3.0,"947,000[33]"
12,Japan i,53.6,300[33],"300[33] to 4,661[44]",NaN,NaN,"300 to 4,661",0.0,907[33]
16,Russia p,175.1,"775,369 to 1,700,000[33][20]","1,700,000[33] to2,254,369[48]","410,000[49]","730,000[49]","2,840,000 to3,394,369",1.6,"3,749,000[48] to4,950,000[33]"
18,United States t,92.0,"53,402[52]","116,708[53][54]",757[55],NaN,117466,0.1,"204,002[53]"
23,Germany w,64.9,"1,800,000[33][62][63]","2,037,000[64][65]",720[66],"424,000[67] to 763,000[68][69]","2,198,420 to 2,800,720",3.4,"4,215,662[64]"

In [91]:
world_war_updated["Nation"].str.split().str[:-1]

6     [United, Kingdom(and, Colonies)]
9                             [France]
11                             [Italy]
12                             [Japan]
16                            [Russia]
18                    [United, States]
23                           [Germany]
Name: Nation, dtype: object

In [92]:
nations_updated = world_war_updated["Nation"].str.split().str[:-1].str.join(" ").str.split("(").str[0]

In [93]:
nations_updated

6     United Kingdom
9             France
11             Italy
12             Japan
16            Russia
18     United States
23           Germany
Name: Nation, dtype: object

In [94]:
world_war_updated["Nation"] = nations_updated

In [95]:
world_war_updated

,Nation,Population (millions),Combat deaths and missing in action (included in total military deaths),Total military deaths (from all causes),Civilian deaths (military action and crimes against humanity),Increase in civilian deaths (malnutrition and disease excluding Influenza pandemic),Total deaths,Deaths as% of population,Military wounded
6,United Kingdom,45.4,"744,000s1","887,858[11]","16,829[21][27]","107,000[28]","867,829 to 1,011,687",1.9,"1,675,000s1"
9,France,39.6,"1,150,000[34][35]","1,357,000[20]to 1,397,800[36]","40,000[18][37][38]","300,000[32]","1,697,000to 1,737,800",4.3,"4,266,000[33]"
11,Italy,35.6,"460,000[29]","460,000[29] to 651,000[41]","3,400[42]","589,000[43]","1,052,400 to 1,243,400",3.0,"947,000[33]"
12,Japan,53.6,300[33],"300[33] to 4,661[44]",NaN,NaN,"300 to 4,661",0.0,907[33]
16,Russia,175.1,"775,369 to 1,700,000[33][20]","1,700,000[33] to2,254,369[48]","410,000[49]","730,000[49]","2,840,000 to3,394,369",1.6,"3,749,000[48] to4,950,000[33]"
18,United States,92.0,"53,402[52]","116,708[53][54]",757[55],NaN,117466,0.1,"204,002[53]"
23,Germany,64.9,"1,800,000[33][62][63]","2,037,000[64][65]",720[66],"424,000[67] to 763,000[68][69]","2,198,420 to 2,800,720",3.4,"4,215,662[64]"

In [117]:
WW2

,Country,Total pop 19391939,Militarydeaths,Civilian deaths,Totaldeaths,% of Population,Militarywounded
10,Japan,71380000,2300000,800000,3100000,3.920,326000
4,France,41680000,210000,390000,600000,1.440,390000
15,Soviet Union,188793000,11400000,10000000,27000000,1.150,NaN
9,Italy,44394000,341000,153200,492400,1.135,320000
5,Germany,69300000,5318000,3000000,7400000,1.000,7300000
20,United Kingdom,47760000,383700,67200,450900,0.940,376239
0,Australia,6968000,39700,700,40400,0.580,39803
8,India,377800000,87000,NaN,3087000,0.580,64354
21,United States,131028000,407300,12100,419400,0.320,671801
14,South Africa,10160000,11900,NaN,11900,0.120,14363

In [130]:
Tab = WW2.replace('Soviet Union', 'Russia')

In [132]:
WW2 = Tab

In [133]:
WW2

,Country,Total pop 19391939,Militarydeaths,Civilian deaths,Totaldeaths,% of Population,Militarywounded
10,Japan,71380000.0,2300000.0,800000,3100000,3.920,326000
4,France,41680000.0,210000.0,390000,600000,1.440,390000
15,Russia,188793000.0,11400000.0,10000000,27000000,1.150,NaN
9,Italy,44394000.0,341000.0,153200,492400,1.135,320000
5,Germany,69300000.0,5318000.0,3000000,7400000,1.000,7300000
20,United Kingdom,47760000.0,383700.0,67200,450900,0.940,376239
0,Australia,6968000.0,39700.0,700,40400,0.580,39803
8,India,377800000.0,87000.0,NaN,3087000,0.580,64354
21,United States,131028000.0,407300.0,12100,419400,0.320,671801
14,South Africa,10160000.0,11900.0,NaN,11900,0.120,14363
2,Russia,NaN,NaN,NaN,NaN,NaN,NaN

In [134]:
Twoworldwars = pd.merge(world_war_updated, WW2, left_on = 'Nation', right_on = 'Country')

In [135]:
Twoworldwars

,Nation,Population (millions),Combat deaths and missing in action (included in total military deaths),Total military deaths (from all causes),Civilian deaths (military action and crimes against humanity),Increase in civilian deaths (malnutrition and disease excluding Influenza pandemic),Total deaths,Deaths as% of population,Military wounded,Country,Total pop 19391939,Militarydeaths,Civilian deaths,Totaldeaths,% of Population,Militarywounded
0,United Kingdom,45.4,"744,000s1","887,858[11]","16,829[21][27]","107,000[28]","867,829 to 1,011,687",1.9,"1,675,000s1",United Kingdom,47760000.0,383700.0,67200,450900,0.940,376239
1,France,39.6,"1,150,000[34][35]","1,357,000[20]to 1,397,800[36]","40,000[18][37][38]","300,000[32]","1,697,000to 1,737,800",4.3,"4,266,000[33]",France,41680000.0,210000.0,390000,600000,1.440,390000
2,Italy,35.6,"460,000[29]","460,000[29] to 651,000[41]","3,400[42]","589,000[43]","1,052,400 to 1,243,400",3.0,"947,000[33]",Italy,44394000.0,341000.0,153200,492400,1.135,320000
3,Japan,53.6,300[33],"300[33] to 4,661[44]",NaN,NaN,"300 to 4,661",0.0,907[33],Japan,71380000.0,2300000.0,800000,3100000,3.920,326000
4,Russia,175.1,"775,369 to 1,700,000[33][20]","1,700,000[33] to2,254,369[48]","410,000[49]","730,000[49]","2,840,000 to3,394,369",1.6,"3,749,000[48] to4,950,000[33]",Russia,188793000.0,11400000.0,10000000,27000000,1.150,NaN
5,Russia,175.1,"775,369 to 1,700,000[33][20]","1,700,000[33] to2,254,369[48]","410,000[49]","730,000[49]","2,840,000 to3,394,369",1.6,"3,749,000[48] to4,950,000[33]",Russia,NaN,NaN,NaN,NaN,NaN,NaN
6,United States,92.0,"53,402[52]","116,708[53][54]",757[55],NaN,117466,0.1,"204,002[53]",United States,131028000.0,407300.0,12100,419400,0.320,671801
7,Germany,64.9,"1,800,000[33][62][63]","2,037,000[64][65]",720[66],"424,000[67] to 763,000[68][69]","2,198,420 to 2,800,720",3.4,"4,215,662[64]",Germany,69300000.0,5318000.0,3000000,7400000,1.000,7300000

In [136]:
Table1 = Twoworldwars.iloc[:, [0,6,7,9,13,14]]

In [137]:
Table1

,Nation,Total deaths,Deaths as% of population,Country,Totaldeaths,% of Population
0,United Kingdom,"867,829 to 1,011,687",1.9,United Kingdom,450900,0.940
1,France,"1,697,000to 1,737,800",4.3,France,600000,1.440
2,Italy,"1,052,400 to 1,243,400",3.0,Italy,492400,1.135
3,Japan,"300 to 4,661",0.0,Japan,3100000,3.920
4,Russia,"2,840,000 to3,394,369",1.6,Russia,27000000,1.150
5,Russia,"2,840,000 to3,394,369",1.6,Russia,NaN,NaN
6,United States,117466,0.1,United States,419400,0.320
7,Germany,"2,198,420 to 2,800,720",3.4,Germany,7400000,1.000

In [140]:
Table1.drop_duplicates(subset=['Country', 'Nation'])

,Nation,Total deaths,Deaths as% of population,Country,Totaldeaths,% of Population
0,United Kingdom,"867,829 to 1,011,687",1.9,United Kingdom,450900,0.940
1,France,"1,697,000to 1,737,800",4.3,France,600000,1.440
2,Italy,"1,052,400 to 1,243,400",3.0,Italy,492400,1.135
3,Japan,"300 to 4,661",0.0,Japan,3100000,3.920
4,Russia,"2,840,000 to3,394,369",1.6,Russia,27000000,1.150
6,United States,117466,0.1,United States,419400,0.320
7,Germany,"2,198,420 to 2,800,720",3.4,Germany,7400000,1.000

In [155]:
Table1.rename(columns={'Total deaths':'Total_WW1'}, inplace = True)

C:\Users\cgleeson\AppData\Local\Temp\ipykernel_16424\4001061581.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Table1.rename(columns={'Total deaths':'Total_WW1'}, inplace = True)

In [157]:
Table1.rename(columns={'Deaths as % of population':'%1', '% of Population':'%2'}, inplace = True)

C:\Users\cgleeson\AppData\Local\Temp\ipykernel_16424\2604341306.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Table1.rename(columns={'Deaths as % of population':'%1', '% of Population':'%2'}, inplace = True)

In [158]:
Table1

,Country,Total_WW1,Deaths as% of population,Country,Total_WW2,%_WW2
0,United Kingdom,"867,829 to 1,011,687",1.9,United Kingdom,450900,0.940
1,France,"1,697,000to 1,737,800",4.3,France,600000,1.440
2,Italy,"1,052,400 to 1,243,400",3.0,Italy,492400,1.135
3,Japan,"300 to 4,661",0.0,Japan,3100000,3.920
4,Russia,"2,840,000 to3,394,369",1.6,Russia,27000000,1.150
5,Russia,"2,840,000 to3,394,369",1.6,Russia,NaN,NaN
6,United States,117466,0.1,United States,419400,0.320
7,Germany,"2,198,420 to 2,800,720",3.4,Germany,7400000,1.000

In [160]:
Table2 = Table1.drop_duplicates(subset=['Country'])

In [161]:
Table2

,Country,Total_WW1,Deaths as% of population,Country,Total_WW2,%_WW2
0,United Kingdom,"867,829 to 1,011,687",1.9,United Kingdom,450900,0.940
1,France,"1,697,000to 1,737,800",4.3,France,600000,1.440
2,Italy,"1,052,400 to 1,243,400",3.0,Italy,492400,1.135
3,Japan,"300 to 4,661",0.0,Japan,3100000,3.920
4,Russia,"2,840,000 to3,394,369",1.6,Russia,27000000,1.150
6,United States,117466,0.1,United States,419400,0.320
7,Germany,"2,198,420 to 2,800,720",3.4,Germany,7400000,1.000

In [162]:
Table2.rename(columns={'Deaths as\xa0% of population':'%_WW1'}, inplace = True)

C:\Users\cgleeson\AppData\Local\Temp\ipykernel_16424\239907985.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Table2.rename(columns={'Deaths as\xa0% of population':'%_WW1'}, inplace = True)

In [163]:
Table2

,Country,Total_WW1,%_WW1,Country,Total_WW2,%_WW2
0,United Kingdom,"867,829 to 1,011,687",1.9,United Kingdom,450900,0.940
1,France,"1,697,000to 1,737,800",4.3,France,600000,1.440
2,Italy,"1,052,400 to 1,243,400",3.0,Italy,492400,1.135
3,Japan,"300 to 4,661",0.0,Japan,3100000,3.920
4,Russia,"2,840,000 to3,394,369",1.6,Russia,27000000,1.150
6,United States,117466,0.1,United States,419400,0.320
7,Germany,"2,198,420 to 2,800,720",3.4,Germany,7400000,1.000

In [165]:
Table2.describe()

          %_WW1     %_WW2
count  7.000000  7.000000
mean   2.042857  1.415000
std    1.633868  1.156226
min    0.000000  0.320000
25%    0.850000  0.970000
50%    1.900000  1.135000
75%    3.200000  1.295000
max    4.300000  3.920000

In [167]:
for ind in Table2.index:
    print(Table2['%_WW1'][ind], Table2['Total_WW1'][ind])

1.9 867,829 to 1,011,687
4.3 1,697,000to 1,737,800
3.0 1,052,400 to 1,243,400
0.0 300 to 4,661
1.6 2,840,000 to3,394,369
0.1 117466
3.4 2,198,420 to 2,800,720

In [168]:
for ind in Table2.index:
    print(Table2['%_WW2'][ind], Table2['Total_WW2'][ind])

0.94 450900
1.44 600000
1.135 492400
3.92 3100000
1.15 27000000
0.32 419400
1.0 7400000

In [171]:
Table2.groupby(['%_WW1', '%_WW2']).size()

%_WW1  %_WW2
0.0    3.920    1
0.1    0.320    1
1.6    1.150    1
1.9    0.940    1
3.0    1.135    1
3.4    1.000    1
4.3    1.440    1
dtype: int64